<div class="header">
        <ul class="nav nav-pills pull-right">
          <li ><a ng-href="#">Home</a></li>
          <!-- //angularfire -->
          <li class="active"><a ng-href="#/chat">chat</a></li>
          <li>
            <a ng-hide-auth="" href="#/login">log in</a>
            <a ng-show-auth="" href="#/account">account</a>
          </li>
          <li>
            <a ng-show-auth="" href="#" id="profLink">profile</a>
          </li>
          </ul>
          <!-- <img src="images/logo.png" height="50" width="auto"/> -->
          <h3 class="text-muted">devFlow</h3>
      </div>

<h2>Chat</h2>

<form>
  <input placeholder="Message..." ng-model="newMessage">
  <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
</form>

<ul id="messages" ng-show="messages.length">
  <li ng-repeat="message in messages | reverse">{{message.text}}</li>
</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
