      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <!-- //angularfire -->
          <li><a ng-href="#/chat">chat</a></li>
          <li>
            <a ng-hide-auth="" href="#/login">log in</a>
            <a ng-show-auth="" href="#/account">account</a>
          </li>
          <li>
            <a ng-show-auth="" href="#" id="profLink">profile</a>
          </li>
          </ul>
          <!-- <img src="images/logo.png" height="50" width="auto"/> -->
          <h3 class="text-muted">devFlow</h3>
      </div>

<h2>Login Page</h2>

<form role="form">
  <p class="form-group">
    <label for="loginEmail">email</label>
    <input id="loginEmail" required name="email" type="email" ng-model="email" class="form-control" />
  </p>
  <p class="form-group">
    <label for="loginPass">password</label>
    <input id="loginPass" required name="pass" type="password" ng-model="pass" class="form-control" />
  </p>
  <p class="form-group" ng-cloak ng-show="createMode">
    <label for="loginConfirm">confirm pass</label>
    <input id="loginConfirm" required name="confirm" type="password" ng-model="confirm" class="form-control" />
  </p>

  <p>
    <button  class="btn btn-primary" ng-click="passwordLogin(email, pass)" ng-hide="createMode">Log In</button>
    <button  class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button>
    <button  class="btn btn-primary" ng-cloak ng-show="createMode"
            ng-click="createAccount(email, pass, confirm)">Create Account</button>
    <button  class="btn btn-default" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>
  </p>
</form>
<p ng-show="err" class="bg-danger">{{err}}</p>
