<div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ng-href="#">Home</a></li>
      <!-- //angularfire -->
      <li><a ng-href="#/profile/{{user.username}}">profile</a></li>
      <li><a ng-href="#/chat">chat</a></li>
      <li>
        <a ng-hide-auth="" href="#/login">log in</a>
        <a ng-show-auth="" href="#/account">account</a>
      </li>
      </ul>
      <!-- <img src="images/logo.png" height="50" width="auto"/> -->
      <h3 class="text-muted">devFlow</h3>
     </div>

<div class="jumbotron">
  <img src="../images/logo.png" height="198" width="523"/>
  <p class="lead">
    Learn new developer workflows
  </p>

  <!-- search -->
  <form class="form-inline global-search" role="form">
    <div class="form-group">
      <label class="sr-only">Enter search terms</label>
      <input type="search" class="form-control" name="searchquery" placeholder="Search for a user" ng-model="query"/>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="searchOnClick()"><span class="glyphicon glyphicon-search" /></button>
    <br/>
    <label>{{name}}</label>
  </form>
  <div class="row text-center">
    <div ng-repeat="result in results" class="col-xs-4">
      <a href="/#/profile/{{result.username}}">
        <button class="btn btn-default btn-block" height="200" style="margin:5px;">
          <img src="{{result.hashedEmail}}"/>
          <br/>
          {{result.name}}
        </button>
      </a>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>

</div>

<!-- <div class="row marketing">
  <h4>Firebase</h4>
  <p>
    Firebase is a powerful API to store and sync data in realtime.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->


<!-- <ul>
    <li ng-repeat="result in results"><a href="/#/profile/{{result.username}}">

      {{result.name}}</a>

    </li>
  </ul> -->
  <!-- Top starred -->
