<div class="jumbotron">
  <h1>DevFlow</h1>
  <p class="lead">
    Learn new developer workflows
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- <div class="row marketing">
  <h4>Firebase</h4>
  <p>
    Firebase is a powerful API to store and sync data in realtime.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->

<!-- search -->
<form class="form-inline global-search" role="form">
  <div class="form-group">
    <input type="search" class="form-control" id="k" name="k" placeholder="Search for a user"/>
    <input id="cn" name="cn" type="hidden" value="false" />
  </div>
  <button type="submit" id="s" class="btn btn-info"><span class="glyphicon glyphicon-search"></span>
</form>
<!-- Top starred -->
